/* Medewerkers.css */

/* Algemene stijlen */
body {
    background-color: white; /* Achtergrondkleur */
    color: #333; /* Algemene tekstkleur */
    font-family: Arial, sans-serif;
}

/* Titels */
h3 {
    color: #fcf7ef; /* Secundaire kleur */
    background-color: #ff4c4c; /* Call-to-action kleur */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/* Container stijlen */
.container {
    background-color: #fcf7ef; /* Secundaire kleur */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Tabel stijlen */
.table {
    background-color: white;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

th {
    background-color: #ff4c4c; /* Call-to-action kleur */
    color: #ffffff; /* Tekstkleur in call-to-action */
    text-align: center;
}

/* Call-to-action icoon */
.bi-plus-square-fill {
    font-size: 1.5rem;
    color: #ff4c4c; /* Call-to-action kleur */
}

.bi-plus-square-fill:hover {
    color: #d63a3a; /* Donkerdere tint voor hover-effect */
}

/* Responsiviteit */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    
    h3 {
        font-size: 1.5rem;
    }
}
